<div class="main-content">
  <div class="container-fluid">
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title">Add Medicine</h4>
            <p class="card-category">You can add medicine from here</p>
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col-md-11">
                      <mat-form-field class="example-full-width">
                          <input matInput name="medicinename" placeholder="Medicine Name"  [(ngModel)]="medicinename" >
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-11">
                      <mat-form-field class="example-full-width">
                        <input matInput  name="medicinedescription" placeholder="Medicine Description"  [(ngModel)]="medicinedescription" >
                      </mat-form-field>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-11">
                      <mat-form-field class="example-full-width">
                        <input matInput  name="medicineprice" placeholder="Medicine Price (Rs.)"  [(ngModel)]="medicineprice">
                      </mat-form-field>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-11">
                      <mat-form-field class="example-full-width">
                        <input matInput  name="medicinequantity" placeholder="Medicine Quantity"  [(ngModel)]="medicinequantity" >
                      </mat-form-field>
                    </div>
                </div>
                <button mat-raised-button class="btn btn-danger pull-right" (click)="add()">Add</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title">Update Medicine</h4>
            <p class="card-category">You can update medicine from here</p>
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col-md-11">
                      <mat-form-field class="example-full-width">
                          <input matInput name="medicinename" placeholder="Medicine Name"  [(ngModel)]="medicinename" >
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-11">
                      <mat-form-field class="example-full-width">
                        <input matInput  name="medicinedescription" placeholder="Medicine Description"  [(ngModel)]="medicinedescription" >
                      </mat-form-field>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-11">
                      <mat-form-field class="example-full-width">
                        <input matInput  name="medicineprice" placeholder="Medicine Price (Rs.)"  [(ngModel)]="medicineprice">
                      </mat-form-field>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-11">
                      <mat-form-field class="example-full-width">
                        <input matInput  name="medicinequantity" placeholder="Medicine Quantity"  [(ngModel)]="medicinequantity" >
                      </mat-form-field>
                    </div>
                </div>
                <button mat-raised-button class="btn btn-danger pull-right" (click)="update()">Update</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title">Delete Medicine</h4>
            <p class="card-category">You can delete medicine from here</p>
        </div>
        <div class="card-body">
        </div>
    </div>
</div>
