<div class="main-content">
  <div class="container-fluid">
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title">Search Medicine</h4>
            <p class="card-category">You can search medicine from here</p>
        </div>
        <div class="card-body">
          <div class="navbar-form">
            <form class="medicine-search" #addForm="ngForm" (ngSubmit)="saveSearchData(addForm)">
             <div>
               <input type="text" name="searchName" [(ngModel)]="searchName" placeholder="Search Medicine">
               <button mat-raised-button type="submit">
                   <i class="material-icons">search</i>
                </button>
             </div>
            </form>
            <div class="table-responsive">
              <table class="table">
                 <thead class="text-primary">
                    <tr>
                       <th style="color: black;">Name</th>
                       <th style="text-align: center;color: black;">Description</th>
                       <th style="color: black;">Price (Rs.)</th>
                       <th style="color: black;">Quantity</th>
                       <th style="color: black;">Generic Name</th>
                       <th style="color: black;"></th>
                       <th style="color: black;"></th>
                    </tr>
                 </thead>
                 <tbody>
                    <tr *ngFor="let item of dataSource.data | searchFilter:searchName">
                       <td>{{item.medicineName}}</td>
                       <td>{{item.medicineDescription}}</td>
                       <td>{{item.medicinePrice}}</td>
                       <td>{{item.medicineQuantity}}</td>
                       <td>{{item.genericName}}</td>
                    </tr>
                 </tbody>
              </table>
           </div>
          </div>
        </div>
    </div>
  </div>
</div>
