<footer class="footer">
  <div class="container-fluid">
     <nav class="pull-left">
        <ul class="menu">
           <li class="menu__item">
              <a class="menu__link" href="#">
              Dashboard
              </a>
           </li>
           <li class="menu__item">
              <a class="menu__link" href="#">
              Licences
              </a>
           </li>
           <li class="menu__item">
              <a class="menu__link" href="#">
              Offers
              </a>
           </li>
           <li class="menu__item">
              <a class="menu__link" href="#">
              Contact
              </a>
           </li>
           <li class="menu__item">
              <a class="menu__link" href="#">
              About us
              </a>
           </li>
        </ul>
     </nav>
     <div class="copyright pull-right">
        &copy;
        {{ test | date: 'yyyy' }} medifinder.com | All rights reserved
     </div>
  </div>
</footer>