.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
.unset-width{
    max-width: unset !important;
    flex:unset !important;
}
.container-fluid{
    width: 50% !important;
}

.btn.btn-danger{
    background-color: #321fdb;
    border-color: #321fdb;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgb(54 79 244 / 40%);
}

.card-header {
    background-color: #321fdb;
}

.card-header-danger {
    .card-icon,
    .card-text {
      background: #321fdb;
      
    }
  
    &:not(.card-header-icon):not(.card-header-text),
    &.bg-danger,
    &.card-rotate.bg-danger .front,
    &.card-rotate.bg-danger .back {
      background: #321fdb;
      
    }
  }

  .card-header-danger .card-icon,
    .card-header-danger:not(.card-header-icon):not(.card-header-text),
    .card-header-danger .card-text{
        box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgb(54 79 244 / 40%);
    }

    .btn.btn-danger:hover {
      color: #fff;
      background-color: #321fdb;
      border-color: #321fdb;
  }
  