<div class="main-content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title">Top Medicine Products</h4>
          <p class="card-category">These are the top products for this week</p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <tr>
                  <th style="color: black;">Product Name</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of dataSource.data">
                  <td>{{item[0]}}</td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  