<div class="main-content">
  <div class="container-fluid">
    <div class="dashboard-picture" >
        <img class="dashboard-picture-medicine" src="/assets/img/medicine.jpg" style="width: 950px; height: 300px; border-radius: 12px;"  alt="Medicines" class="bg-image">
          <div class="text-overlay" style="font-family: Times New Roman, Times, serif;">  
            <b> Welcome! </b>
            <br>
            <div class="text-on-the-picture">
              Having hard time finding medicines. No problem Medifinder is here to guide you.
              <br>Medifinder will help you to quickly and conveniently locate the medicines you need. 
              <br>Whether you're a patient, caregiver, or healthcare professional, <br> Medifinder provides 
              a centralized platform to search for specific medicines and <br>access vital information about them.
            </div>
          </div>
      </div>
      <br>
      <div class="row">
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart" id="dailySalesChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Daily Sales</h4>
                      <p class="card-category">
                          <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> updated 4 minutes ago
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart" >
                  <div class="card-header card-header-warning">
                      <div class="ct-chart" id="websiteViewsChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Top 10 Products</h4>
                      <p class="card-category">Today Top 10 Searched Products</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> updated 2 mins ago
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart" >
                  <div class="card-header card-header-danger">
                      <div class="ct-chart" id="completedTasksChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title"  >Medicine Counter</h4>
                      <p class="card-category">Update Medicine Counter</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> updated 1 day ago
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
