<div class="main-content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title ">Pharmacy Registration</h4>
                    <p class="card-category"> Add pharmacy details here</p>
                </div>
                <div class="card-body">
                    <form #addForm="ngForm" (ngSubmit)="onAddPharmacy(addForm)">
                    <div>
                        <div class="row">
                            <div class="col-md-12">
                              <mat-form-field class="example-full-width">
                                  <input matInput name="pharmacy_name" placeholder="Name"  [(ngModel)]="pharmacy_name" >
                                  <mat-icon matSuffix>edit</mat-icon>
                                </mat-form-field>
                                <button mat-raised-button class="demo-button pull-right" type="submit" >Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
   </div>
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Medicine Counter</h4>
                      <p class="card-category"> You can add, delete, view, update medicine from here</p>
                  </div>
                  <div class="card-body">
                    <div class="demo-button-container">
                            <button mat-raised-button (click)="toggleAddForm()" class="demo-button">
                              Add +
                            </button>
                        </div> 
                            <div *ngIf="isAdding">
                                        <form #addForm="ngForm" (ngSubmit)="onAddMedicine(addForm)" class="medicine-add-form">
                                            <div>
                                              <div class="row">
                                                <div class="col-md-11">
                                                  <mat-form-field class="example-full-width">
                                                    <input matInput name="medicine_name" placeholder="Medicine Name" [(ngModel)]="medicine_name">
                                                  </mat-form-field>
                                                </div>
                                              </div>
                                              <div class="row">
                                                <div class="col-md-11">
                                                  <mat-form-field class="example-full-width">
                                                    <input matInput name="medicine_description" placeholder="Medicine Description" [(ngModel)]="medicine_description">
                                                  </mat-form-field>
                                                </div>
                                              </div>
                                              <div class="row">
                                                <div class="col-md-11">
                                                  <mat-form-field class="example-full-width">
                                                    <input matInput name="medicine_price" placeholder="Medicine Price (Rs.)" [(ngModel)]="medicine_price">
                                                  </mat-form-field>
                                                </div>
                                              </div>
                                              <div class="row">
                                                <div class="col-md-11">
                                                  <mat-form-field class="example-full-width">
                                                    <input matInput name="medicine_quantity" placeholder="Medicine Quantity" [(ngModel)]="medicine_quantity">
                                                  </mat-form-field>
                                                </div>
                                              </div>
                                              <div class="row">
                                                <div class="col-md-11">
                                                  <mat-form-field class="example-full-width">
                                                    <input matInput name="generic_name" placeholder="Generic Name" [(ngModel)]="generic_name">
                                                  </mat-form-field>
                                                </div>
                                              </div>
                                              <button mat-raised-button class="demo-button pull-right" type="submit" >Submit</button>
                                              <div class="clearfix"></div>
                                            </div>
                                          </form>
                                        </div>
                      <div class="table-responsive">
                                        <table class="table">
                            <thead class="text-primary">
                              <tr>
                                <th style="color: black;">Id</th>
                                <th style="color: black;">Name</th>
                                <th style="text-align: center;color: black;">Description</th>
                                <th style="color: black;">Price (Rs.)</th>
                                <th style="color: black;">Quantity</th>
                                <th style="color: black;">Generic Name</th>
                                <th style="color: black;"></th>
                                <th style="color: black;"></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of dataSource.data">
                                <td>{{item.medicineId}}</td>
                                <td>{{item.medicineName}}</td>
                                <td>{{item.medicineDescription}}</td>
                                <td>{{item.medicinePrice}}</td>
                                <td>{{item.medicineQuantity}}</td>
                                <td>{{item.genericName}}</td>
                                <td><button
                                  mat-raised-button
                                  class="button-edit"
                                  (click)="element.isEdit = !element.isEdit"
                                >
                                  Edit
                                </button></td>
                                <td><button
                                  mat-button
                                  class="button-remove"
                                  (click)="removeRow(item.medicineId)"
                                >
                                  <mat-icon matSuffix>delete</mat-icon>
                                </button></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                  </div>
              </div>
          </div>
     </div>
  </div>
</div>
