<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Edit Profile</h4>
                      <p class="card-category">Update your profile from here</p>
                  </div>
                  <div class="card-body">
                    <div >
                        <div class="row">
                            <div class="col-md-11">
                              <mat-form-field class="example-full-width">
                                  <input matInput name="fname" placeholder="First Name"  [(ngModel)]="fname" >
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-11">
                              <mat-form-field class="example-full-width">
                                <input matInput  name="lname" placeholder="Last Name"  [(ngModel)]="lname" >
                              </mat-form-field>
                            </div>
        
                        </div>
                        <div class="row">
                            <div class="col-md-11">
                              <mat-form-field class="example-full-width">
                                <input matInput  name="mobileNo" type="tel" placeholder="Mobile No"  [(ngModel)]="mobileNo">
                              </mat-form-field>
                            </div>
        
                        </div>
                        <div class="row">
                            <div class="col-md-11">
                              <mat-form-field class="example-full-width">
                                <input matInput  name="remail" type="email" placeholder="Email"  [(ngModel)]="remail" >
                              </mat-form-field>
                            </div>
        
                        </div>
                        <div class="row">
                            <div class="col-md-11">
                              <mat-form-field class="example-full-width">
                                <input matInput  name="rpassword" placeholder="Password"  [(ngModel)]="rpassword" type="password">
                              </mat-form-field>
                            </div>
        
                        </div>
                        <div class="row">
                            <div class="col-md-11">
                              <mat-form-field class="example-full-width">
                                <input matInput  name="cpassword" placeholder="Confirm Password"  [(ngModel)]="cpassword" type="password">
                              </mat-form-field>
                            </div>
                          </div>
                          <button mat-raised-button class="btn btn-danger pull-right" (click)="register()">Update Profile</button>
                        <div class="clearfix"></div>
                    </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>
